# maven ignore
target/

# package ignore
*.jar
*.war
*.ear
*.zip
*.tar
*.tar.gz

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
*.pyc
bin/
soa-backup/

# system ignore
.DS_Store
Thumbs.db
